html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: white;
    position: relative;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

a {
    color: white !important;
}

a:hover{
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: #e3342f;
    font-weight: bold;
    text-shadow: 2px 2px 4px #f4433636;
}

h3 {
    color: #e3342f;
    text-shadow: 2px 2px 4px #f4433699;
}

h4 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #928989d8;
}

h5 {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.darkred {
    color: #c51f1a !important;
    font-weight: bold !important;
}

.navbarwhitebold{
    color: white !important;
    font-weight: bold;
}

.btn{
    border-radius: 17px;
    padding: 0.5rem;
}

.btn-danger{
    background-color: #e3342f !important;
}

.bg-red {
    background: linear-gradient(to bottom right, #cc0000 8%, #ff5050 90%);
    
}

.jumbotron{
    background-color: white;
    padding-top: 2rem;
    margin-bottom: 0;
    border-radius: 50px;
    border: 2px solid black;
}

#welcome{
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 6.5rem;
    height: 100vh;
    text-align: center;

    @media (min-width: 1600px){
        padding-top: 12rem;
        width: 100%;
    }
}

.welcomeimage {
    height: 250px;
    width: 300px;
    

    @media (min-width: 700px) {
        height: 300px;
        width: 365px;
    }
}

#about{
    background-image: url("../../storage/app/public/background/flag2.jpg") !important;
    padding: 1rem;
    text-align: center;

    @media (min-width: 700px){
        padding: 3rem;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#pricelist{
    background-color: white;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5.5rem;
}

#contact {
//    background-image: url("../../storage/app/public/background/flag2.jpg") !important;
    background: linear-gradient(to bottom right, #0066cc 8%, #0099ff 90%);
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardcontacts {
    border-radius: 500px;
}

.contactfont {
    font-weight: bold;
    font-size: 1rem;
}

.contactemail {
    color:black !important;
    font-weight: bold;
    font-size: 1rem;
}

.footer {
    background: linear-gradient(to bottom right, #cc0000 8%, #ff5050 90%);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-weight: bold;
    color: white;

    margin-top: auto;
}

.page-link {
    background-color: #6cb2eba8;
}

.cardstyle {
    border-bottom-left-radius: 30px;
    border-left-width: 30px;
}

.blue {
    color: darkblue !important;
}

#category {
    padding-top: 2rem;
}

.nav-itemleft {
    background: linear-gradient(to bottom right, #0066cc 8%, #0099ff 90%);
    color:white !important;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 0.4rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: 700px) {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }
}

.nav-itemleft:hover {

    background: linear-gradient(to bottom right, #0066cc 2%, #0099ff 20%);
}

.nav-itemright {
    background: white;
    color:black !important;
    border-radius: 10px;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #c4c3c3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: 700px) {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }
}

.nav-itemright:hover {

    background: linear-gradient(to bottom right, #ffffff 2%, #e2e2e2 20%);
}

.nav-item-submit {
    background: white;
    color:#c71818 !important;
    border-radius: 10px;
    margin-left: 1rem;
    padding: 0.4rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @media (max-width: 700px) {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }
}

.nav-item-submit:hover {

    background: linear-gradient(to bottom right, #ffffff 2%, #e2e2e2 20%);
}

.myButton {
	box-shadow:inset 1px 1px 0px -1px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:22px;
	border:2px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:3px 4px 3px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

.aboutimage {
    height: 255px;
    width: 292px;
    border-radius: 15px;
    margin-bottom: 2rem;

    @media (min-width: 700px){
        height: 300px;
        width: 365px;
        float: left;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }
}

.btn-1 {
    background: linear-gradient(to bottom right, #cc0000 8%, #ff5050 90%);
    border-radius:30px; 
    padding: 1rem 1.5rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-1:hover {
    background: linear-gradient(to bottom right, #cc0000 4%, #ff5050 50%);
}

.btn-2 {
    background: linear-gradient(to top right, #3366ff 8%, #33ccff 97%);
    border-radius:30px; 
    padding: 0.5rem 1.5rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-2:hover {
    background: linear-gradient(to bottom right, #0066cc 2%, #0099ff 20%);
}

.btn-3 {
    background: black;
    border-radius:30px; 
    padding: 0.3rem 1.5rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.btn-3:hover {
    opacity: 0.7;
}

.btn-back {
    background: linear-gradient(to bottom right, #cc0000 8%, #ff5050 90%);
    border-radius:30px; 
    padding: 0.8rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-back:hover {
    background: linear-gradient(to bottom right, #cc0000 4%, #ff5050 50%);
}

.btn-primary {
    background: linear-gradient(to top right, #3366ff 8%, #33ccff 97%);
    border-radius:30px; 
    padding: 0.5rem 1.5rem;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary:hover {
    background: linear-gradient(to bottom right, #0066cc 2%, #0099ff 20%);
}


.navbar-brand {
    text-shadow: 2px 2px 4px #000000;
}

.nav-link {
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.forms {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.lesson {
    margin-top: 1rem;
    border-radius: 30px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:rgb(12, 1, 1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.popisek {
    text-shadow: 2px 2px 2px #607d8bc4;
}

.obal {
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
}

.obal a {
    color: brown !important;
    font-weight: bold;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-shad {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.box-inner {
    box-shadow: inset -2px 12px 10px -10px #9e9e9eeb;
}

#submit {
    text-align: center;
}

.sheep_image {
    border-radius: 30px;
    width: 100%;
    height: 275px;
    
}
.sheep_background {
    margin-top: 0;
    position: relative;
    width: 100%; 
    min-height: 100vh;
    
    @media (min-width: 1025px){
        background: linear-gradient(to bottom, rgba(255, 253, 253, 0) 0%, rgba(255, 254, 254, 0) 75%, #fffefe 100%), url("../../storage/app/public/background/sheep_background4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover; 
    }
}

.submit_container {
    width: auto;
    

    @media (min-width: 768px) {
        width: 600px;
        
    }
}

.submit_padding {
    padding-top: 133px;

    @media (min-width: 768px) {
        padding-top: 300px;
        
    }

    @media (min-width: 1600px) {
        padding-top: 450px;
        
    }
}
